{%  extends "base.html" %}

{% block content %}

<table>
    <tr><td style="padding-left: 25px;"><h2>Welcome to ICreditApp. Register and get credit approval</h2></td><td></td></tr>
    <tr>
        <td style="padding-left: 100px;">
            <form action="" method="post">
                <p>
                    {{form.fname.label}} <br>
                    {{form.fname(size=30)}} <br>
                </p>
                <p>
                    {{form.lname.label}} <br>
                    {{form.lname(size=30)}} <br>
                </p>
                <p>
                    {{form.address.label}} <br>
                    {{form.address(size=30)}} <br>
                </p>
                    <p>
                    {{form.city.label}} <br>
                    {{form.city(size=30)}} <br>
                </p>
                    <p>
                    {{form.zip.label}} <br>
                    {{form.zip(size=5)}} <br>
                </p>
                    <p>
                    {{form.state.label}} <br>
                    {{form.state(size=30)}} <br>
                </p>
                <p>
                    {{form.age.label}} <br>
                    {{form.age(size=2)}} (25) <br>
                </p>
                <p>
                    {{form.experience.label}} <br>
                    {{form.experience(size=2)}} (25) <br>
                </p>
                <p>
                    {{form.profession.label}} <br>
                    {{form.profession}} (25) <br>
                </p>
                <p>
                    {{form.marriedyn.label}} <br>
                    {{form.marriedyn}} (25) <br>
                </p>
                <p>
                    {{form.houseownership.label}} <br>
                    {{form.houseownership}} (25) <br>
                </p>
                <p>
                    {{form.carownership.label}} <br>
                    {{form.carownership}} (25) <br>
                </p>
                <p>
                    {{form.income.label}} <br>
                    {{form.income(size=7)}} (4000) <br>
                </p>
                <p>
                    {{form.currentjobyrs.label}} <br>
                    {{form.currentjobyrs(size=2)}} (4) <br>
                </p>
                <p>
                    {{form.currenthouseyrs.label}} <br>
                    {{form.currenthouseyrs(size=2)}} (yes)<br>
                </p>
                <p><br>
                    {{form.submit()}}
                </p>
</form>

        </td>
        <td style="vertical-align: top;"><br>
                <img src="{{ url_for('static', filename='images/opp.jpg') }}" width="800" height="800" />
        </td>
    </tr>
</table>


{% endblock %}
